<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Lista de Empleados</c-card-header>
      <c-card-body>
        <p cPlaceholderAnimation="glow" *ngIf="isLoading">
          <span cCol="12" cPlaceholder cPlaceholderSize="lg"></span>
          <br>
          <span cCol="12" cPlaceholder cPlaceholderSize="sm"></span>
          <br>
          <span cCol="12" cPlaceholder cPlaceholderSize="sm"></span>
          <br>
          <span cCol="12" cPlaceholder cPlaceholderSize="sm"></span>
          <br>
          <span cCol="12" cPlaceholder cPlaceholderSize="sm"></span>
          <br>
          <span cCol="12" cPlaceholder cPlaceholderSize="sm"></span>
        </p>
        
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
          *ngIf="!isLoading"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <c-icon name="cil-people"></c-icon>
              </th>
              <th>Nombre</th>
              <th class="text-center">Correo</th>
              <th>Usage</th>
              <th class="text-center">DNI</th>
              <th>AREA</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let user of postulantes; index as i">
              <td class="text-center">
               {{ user.id }} 
              </td>
              <td>
                <div>{{ user.nombreCompleto }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  
                </div>
              </td>
              <td class="text-center">
                <span> {{user.email }} </span>
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <div class="float-start">
                    <strong>{{ 100 }}%</strong>
                  </div>
                  <div class="float-end ms-1 text-nowrap">
                    <small class="text-medium-emphasis">
                      {{ user.dni }}
                    </small>
                  </div>
                </div>
                <c-progress thin>
                  <c-progress-bar
                    [value]="100"
                    color="green"
                  ></c-progress-bar>
                </c-progress>
              </td>
              <td class="text-center">
                <span class="fw-semibold">{{ user.telefono }}</span>
              </td>
              <td>
                <div class="small text-medium-emphasis">Last login</div>
                <div class="fw-semibold text-nowrap">{{ user.especialidad }}</div>
              </td>
              <td class="text-center">
                <button
                  class="btn btn-sm btn-outline-primary"
                  type="button"
                >
                  <c-icon name="cil-pencil"></c-icon>
                </button>
                <button
                  class="btn btn-sm btn-outline-danger"
                  type="button" 
                >
                  <c-icon name="cil-trash"></c-icon>
                </button>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>